<div class="row container intro">
  <div class="content col-sm-10 col-sm-offset-2" >
  <% @posts.each do |post| %>
    <div class="blogpost">
    <h1> <%= link_to post.title, post_path(post.id) %> </h1>
    <p>  <%= link_to "Edit", edit_post_path(post.id) if current_user %> </p> 
    <p>  <%= link_to "Delete", post_path(post.id), :confirm =>  "Are you sure?", :method => :delete if current_user %> </p> 
    <p>  <%= post.content %> </p>
    <p>  <%= post.tag %> <p>
    </div>
  <% end %>

</div>
</div>
