<div class="row container intro">

<div class="six columns offset-by-three signup">
<h1> Sign Up Form! </h1>
<%= form_for @user do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name, :size => 20 %>
      <%= f.text_field :name, :size => 10%>
    </p>

    <p> 
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit "Create" %>
    </p>
<%end%>
</div>
</div>

  

