<div class="row container intro">
<div class="nine columns offset-by-two">
  <div class="blogpost"%>
  <h1 class="blogposttitle"> <%= link_to @post.title,post_path(@post) %> </h1>
    <p>  <%= link_to "Edit", edit_post_path(@post.id) if current_user %> &nbsp; 
     <%= link_to "Delete", post_path(@post.id), :confirm =>  "Are you sure?", :method => :delete if current_user %> </p> 
  <p class="content"> <%= @post.content  %> </p>
  <p class="tag"> <%= @post.tag %> </p>
  </div>
</div>
</div>
